<mat-card class="margin-10">
  <img src="./assets/witchers.png" />
  <mat-card-title class="pl-2 pt-2">{{ game.name }} </mat-card-title>
  <mat-card-subtitle class="pl-2 pt-1"
    >Genre: {{ game.genre }}
  </mat-card-subtitle>
  <div class="pl-2 pt-2 flex">
    <mat-icon
      class="pointer"
      aria-hidden="false"
      sm
      aria-label="Example home icon"
      *ngFor="let dummy of ' '.repeat(5).split(''); let x = index"
      >{{ x < game.rating ? "star" : "star_border" }}</mat-icon
    >
  </div>
</mat-card>
