<mat-toolbar color="white">
  <img class="img-fluid" width="220px"  src="./assets/discovergy_logo.png" />
  <span class="ml-2">{{ title }}</span>
  <span fxFlex></span>
  <span mat-button>Hassan Mehmood</span>
  <div class="avatar-container">
    <span class="avatar">H</span>
  </div>
</mat-toolbar>
<div class="pl-6 pt-6">
  <app-timer-button></app-timer-button>
</div>
<mat-grid-list
  [cols]="breakpoint"
  [rowHeight]="rowHeight"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile colspan="3" *ngFor="let i of Games | async | sorting">
    <app-card [game]="i" class="margin-10"></app-card>
  </mat-grid-tile>
</mat-grid-list>
